.actors {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;

    h2 {
        text-align: center;
        margin-top: 64px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;

        @media (max-width: 764px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 4px;
        }
    }

    &__image {
        max-width: 160px;
        margin-top: 42px;
    }

    &__name {
        margin-top: 8px;
    }

    h4 {
        text-decoration: underline;
        cursor: pointer;
        text-align: center;
        margin-top: 32px;
    }
}